{% extends 'base.html' %}

{% block title %}
  Index page
{% endblock %}

{% block content_title %}
  Main page
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
  <p>lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content</p> 
  <p>lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content</p> 
  <p>lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content</p> 
  <p>lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content lorum content</p> 
</div>
{% endblock %}
